@font-face {
    font-family: EightBitDragon;
    src: url(EightBitDragon-anqx.ttf);
}

.all-messages-container {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    color: #ff9ce0;
    font-family: EightBitDragon
}

.message-container {
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    display: flex;
    margin-right: 5px;
    align-self: flex-end;
}

.message-header-container {
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    display: flex;
    margin-right: 5px;
}

.username {
    white-space: nowrap;
    overflow: hidden;
}