@font-face {
    font-family: EightBitDragon;
    src: url(EightBitDragon-anqx.ttf);
}

@font-face {
    font-family: Roobert;
    src: url(Roobert.otf);
}

.all-messages-container {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
}

.message-container {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    margin-right: 5px;
    align-self: flex-end;
    flex-shrink: 0;
}

.message-header-container {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    margin-right: 5px;
}

.username {
    white-space: nowrap;
    overflow: hidden;
}